# Rust build directory
/target/

# Lockfile
Cargo.lock

# Editor / OS files
.DS_Store
.idea/
.vscode/

# Zed build artifacts
/*.wasm
/grammars/*.wasm

# Local Tree-sitter grammar checkout
/tree-sitter-moonbit/grammars/
